doctype html
html
  head

    link(rel="stylesheet" href="#" type="text/css")
    |<!--build:css assets/css/main.min.css  -->
    link(rel="stylesheet", href="assets/css/main.css")
    link(rel="stylesheet" href="#" type="text/css")
    |<!-- endbuild -->
    meta(charset="utf-8")
    title DO IT

  body
    include ./doit.pug







    script(src="#")
    |<!--build:js assets/js/main.min.js  -->
    script(src="assets/js/lib/a-library.js")
    script(src="assets/js/lib/another-library.js")
    script(src="assets/js/main.js")
    script(src="#")
    |<!-- endbuild -->
