body
  background:
    image: url(../img/just-do-it.jpg)
    size: cover
    position: center
    repeat: no-repeat

  height: 1000px
  text-align: center
  display: flex
  align-items: center
  justify-content: space-around
