body {
  background-image: url(../img/just-do-it.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

h1 {
  font-size: 120px;
  line-height: 2;
  color: white; }
  h1.doit {
    margin-left: 150px;
    margin-bottom: -500px; }
  h1.just {
    margin-top: -800px; }

/*# sourceMappingURL=maps/main.css.map */
